---
layout: kleine
title: Mini-course on p-Kazhdan-Lusztig combinatorics.
---
 <h1>{{ page.title }}</h1>
	<p> 
	We will have a course in Ghent University on the combinatorics of $p$-KL basis. Please see below for more information. This is a relay website since we had some problems with our emails getting to the spam folder (check your spam folder if you registered and did not receive any confirmation!) of participants.
	</p>



<h2>Mini-course on p-KL combinatorics April 17-21 2023</h2>

For more information on the Ghent University doctoral schools mini-course on p-KL combinatorics, please navigate to  
<a href="https://sites.google.com/view/kleine-seminar-mini-course"> https://sites.google.com/view/kleine-seminar-mini-course</a> 

	
	
	<h2> Contact </h2>
	
	<p>If you have inquiries about the Kleine seminar or this mini-course, the easiest would be to contact me with the information below.</p>
	<!--
	
	meeting 1 : We cover the zeroth chapter of the book reviewing notations and material from semisimple Lie algebras.

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->
