---
layout: kleine
title: Kleine seminar
---
 <h1>{{ page.title }}</h1>
	<p> 
	Welcome to the website of the Kleine seminar! This small seminar takes place at Universiteit Gent and was initiated in summer 2019 to create a space 
	for graduate students and postdoc researchers with shared research interests to study recent subject in depth. The method is quite simple:
	each semester, the members meet and decide of one subject they want to investigate, then they choose a base reference and divide the subject amongst
	themselves so that each of them will present a part. It aims to keep an informal ambiance and every kind of questions is welcomed, especially 
	<a href="https://terrytao.wordpress.com/career-advice/ask-yourself-dumb-questions-and-answer-them/">dumb ones</a>! 
	</p>


	<h4>Next meeting: Friday 15th October 13:15 to 14:15</h4>
	
	<p> 
	Kieran will break the ice with a small freshener on Chap 1 and the beginning of Chapter 2.
	</p>
			
	
<h4>Resources for the seminar</h4>
<p> 

Etingof, Gelaki, Nikshych and Ostrik have written recently a book on tensor categories (see <a href="https://pages.uoregon.edu/vostrik/">https://pages.uoregon.edu/vostrik/</a> and navigate to the book).
		In the preface, they outline a possible one-semester course that we could do to cover this exciting material. Here is it with minor touch
<table>
<tr>
<td>Chapter 1</td><td>Homework and brief recap (1.1 to 1.9)</td>
</tr>
<tr>
<td>Chapter 2</td><td>2.1 to 2.10</td>
</tr>
<tr>
<td>Chapter 3</td><td>Skip unless needed</td>
</tr>
<tr>
<td>Chapter 4</td><td>4.1 to 4.9</td>
</tr>
<tr>
<td>Chapter 5</td><td>5.1 to 5.6, more if wanted</td>
</tr>
<tr>
<td>Chapter 6</td><td>6.1 to 6.3</td>
</tr>
<tr>
<td>Chapter 7</td><td>7.1 to 7.12</td>
</tr>
<tr>
<td>Chapter 8</td><td>8.1 to 8.14</td>
</tr>
<tr>
<td>Chapter 9</td><td>9.1 to 9.9 with 9.12</td>
</tr>
</table>

Do not hesitate to use other sources such as Deligne's work, Mac Lane, Etingof and Ostrik, Joyal or Drinfeld etc.
</p>
	
	
<h4>Fall 2021 prelim schedule</h4>
	<table>
<tr>
<td>Review Ch.1, and Ch.2</td>
<td>Kieran Calvert and Alexis L-R</td>
<td>15/10/2021, 22/10/2021</td>
</tr>
<tr>
<td>Chapter 4</td>
<td>Sam Claerabout and Jari Desmet</td>
<td>29/10/2021, 05/11/2021</td>
</tr>
<tr>
<td>Chapter 5</td>
<td>Hadewijch De Clercq and Andrea Hurtado</td>
<td>12/11/2021, 19/11/2021</td>
</tr>
<tr>
<td>Chapter 6</td>
<td>Asmus Bisbo</td>
<td>26/11/2021</td>
</tr>
<tr>
<td>Chapter 7</td>
<td>Sigiswald Barbier and Marcelo De Martino</td>
<td>03/12/2021, 10/12/2021, 17/12/2021</td>
</tr>
<tr>
<td>Chapter 8</td>
<td>to see next semester</td>
<td>Spring 2022?</td>
</tr>
<tr>
<td>Chapter 9</td>
<td>to see next semester</td>
<td>Spring 2022?</td>
</tr>
</table>
	
	<h4>Past meetings in the Fall 2021 semester</h4>
		<u1>
		<li>28-09-2021: Organisational session</li>
		</u1>

	
	
	<h4>Meetings minutes</h4>
	<p>
		You can find here <a href= "/kleine_seminar/notes/">the note of the meeting</a> if provided by the speaker. 
	</p>
	
	
	<h2> Contact </h2>
	
	<p>If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is a valid strategy!</p>
	<!--
	
	meeting 1 : We cover the zeroth chapter of the book reviewing notations and material from semisimple Lie algebras.

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->
