---
layout: kleine
title: Kleine seminar
---
 <h1>{{ page.title }}</h1>
	<p> 
	Welcome to the website of the Kleine seminar! This small seminar takes place at Universiteit Gent and was initiated in summer 2019 to create a space 
	for graduate students and postdoc researchers with shared research interests to study recent subject in depth. The method is quite simple:
	each semester, the members meet and decide of one subject they want to investigate, then they choose a base reference and divide the subject amongst
	themselves so that each of them will present a part. It aims to keep an informal ambiance and every kind of questions is welcomed, especially 
	<a href="https://terrytao.wordpress.com/career-advice/ask-yourself-dumb-questions-and-answer-them/">dumb ones</a>! 
	</p>
	


<h4>Subject</h4>
<p> 
We will follow Humphrey's Representations of Semisimple Lie algebras in the BGG category $$\mathcal{O}$$ <a href="https://zbmath.org/?q=an%3A1177.17001">zbMATH's review</a>
			of Humphreys (see for example this group in Columbia that had the same idea 
			<a href="https://www.math.columbia.edu/~hliu/seminars/s20-category-o.html">https://www.math.columbia.edu/~hliu/seminars/s20-category-o.html</a> ) </li>
</p>
	

	<h4>Next meeting: Thursday 14th of January, 14:00 CET, organisational session   </h4>
	
	<p> 
	We will discuss the book, divide the sections amongst the present members and decide of a recurring date for our meetings.
	</p>
		
		
		
	
	
	
	<h4>Past meeting in the Winter 2021 semester</h4>
		<u1>
		
		</u1>

	
	
	<h4>Meetings minutes</h4>
	<p>
		You can find here <a href= "/kleine_seminar/notes/">the note of the meeting</a>. The material has probably a high chance of being error-filled here,
		but the margins content some hastily scribbled snippets of the discussion we had in the seminar and might prove interesting!
	</p>
	
	
	<h2> Contact </h2>
	
	<p>If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is a valid strategy!</p>
	<!-- 
		The source is Savage, A. String diagrams and categorification <a href="https://arxiv.org/abs/1806.06873">arxiv:1806.06873</a>. section 5 and 
		Savage Introduction to categorification. <a href="https://arXiv.org/abs/1401.6037">arXiv:1401.6037</a> chapter 2-3.
	12-02-2020
	Monoidal categories are introduced with a view towards presenting some categories linked to common mathematical objects (symmetric group and Hecke algebras) 
		via generators and relations in a monoidal category. The source is Savage, A. String diagrams and categorification <a href="https://arxiv.org/abs/1806.06873">arxiv:1806.06873</a>.
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->
