---
layout: kleine
title: Kleine seminar
---
 <h1>{{ page.title }}</h1>
	<p> 
	Welcome to the website of the Kleine seminar! This small seminar takes place at Universiteit Gent and was initiated in summer 2019 to create a space 
	for graduate students and postdoc researchers with shared research interests to study recent subject in depth. The method is quite simple:
	each semester, the members meet and decide of one subject they want to investigate, then they choose a base reference and divide the subject amongst
	themselves so that each of them will present a part. It aims to keep an informal ambiance and every kind of questions is welcomed, especially 
	<a href="https://terrytao.wordpress.com/career-advice/ask-yourself-dumb-questions-and-answer-them/">dumb ones</a>! 
	</p>


<h2>A new beginning</h2>
	
	<p>
		As I will leave Ghent University May 1st, the seminar will continue without me. In time, I will put here the information of the new seminar.
	</p>
	
	<!--
	
	meeting 1 : We cover the zeroth chapter of the book reviewing notations and material from semisimple Lie algebras.

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->
