---
layout: kleine
title: Kleine seminar notes
---
 <h1>{{ page.title }}</h1>
	
	
	
	<h3>Winter 2021</h3>
<li><a href="/kleine_seminar/notes/2021-01-21_chap0.pdf">Notes of the 21-01-2021 meeting</a> Chapter 0</li>
<li><a href="/kleine_seminar/notes/2021-01-26_chap1_1.pdf">Notes of the 26-01-2021 meeting</a> Chapter 1, part 1</li>
<li><a href="/kleine_seminar/notes/2021-02-02_chap1_2.pdf">Notes of the 02-02-2021 meeting</a> Chapter 1, part 2</li>
<li><a href="/kleine_seminar/notes/2021-02-09_chap1_3.pdf">Notes of the 09-02-2021 meeting</a> Chapter 1, part 3</li>
<li><a href="/kleine_seminar/notes/2021-02-16_chap2.pdf">Asmus's notes for the 16-02-2021</a> Chapter 2</li>
<li><a href="/kleine_seminar/notes/2021-02-16_chap3_1.pdf">Notes of the 16-02-2021 meeting</a> Chapter 3 part 1</li>
<li><a href="/kleine_seminar/notes/2021-02-23_chap3_2.pdf">Notes of the 23-02-2021 meeting</a> Chapter 3 part 2</li>
<li><a href="/kleine_seminar/notes/2021-03-02_chap3_3.pdf">Notes of the 02-03-2021 meeting</a> Chapter 3 part 3</li>
<li><a href="/kleine_seminar/notes/2021-03-09_chap3_4.pdf">Notes of the 09-03-2021 meeting</a> Chapter 3 part 4</li>
<li><a href="/kleine_seminar/notes/2021-03-16_chap4_1.pdf">Notes of the 16-03-2021 meeting</a> Chapter 4 part 1</li>
<li><a href="/kleine_seminar/notes/2021-03-30_chap4_2-3.pdf">Notes of the 23-03-2021 and 30-03-2021 meetings</a> Chapter 4 part 2 and 3</li>
<li><a href="/kleine_seminar/notes/2021-05-04_chap5.pdf">Notes of the 20-04-2021, 27-04-2021 and 04-05-2021 meetings</a> Chapter 5</li>
<li><a href="/kleine_seminar/notes/2021-05-11_chap6_1.pdf">Notes of the 11-05-2021 meeting</a> Chapter 6</li>
	
	<h3>Fall 2020</h3>
<li><a href="/kleine_seminar/notes/2020-12-15-NotesKleineSeminar.pdf">Notes of the 15-12-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/2020-12-08-NotesKleineSeminar.pdf">Notes of the 08-12-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/2020-12-01-NotesKleineSeminar.pdf">Notes of the 01-12-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/2020-11-24-NotesKleineSeminar.pdf">Notes of the 24-11-2020 meeting</a></li>	
<li><a href="/kleine_seminar/notes/2020-11-17-NotesKleineSeminar.pdf">Notes of the 17-11-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/2020-11-03-NotesKleinSeminar.pdf">Notes of the 03-11-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/2020-10-27-NotesKleineSeminar.pdf">Notes of the 27-10-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/20201020NotesKleineSeminar.pdf">Notes of the 20-10-2020 meeting</a></li>
<li><a href="/kleine_seminar/notes/Notes_ALR_13-10-2020.pdf">Notes of the 13-10-2020 meeting</a></li>

	<h3>Winter 2020</h3>
	The note on categorification are to be found here: <a href="/kleine_seminar/notes/categorification_notes_W2020.pdf">notes on categorification</a>.
	
	
	<h3>Past notes</h3>
	The texing of the notes for Fall 2019 are unfinished and will probably not be completed unless there is a high pressure to do so. The relevant material on Hecke algebra can be found in Mathas's book
	on Iwahori-Hecke algebras (first four chapters) and the material on DAHA can be found in Pavel Etingof's lecture note and source therein. 	
	
	<h3> Contact </h3>
	If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is also a valid strategy!
	<!-- 
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->
